.seccion--contenido {
    align-items: center;
}


.item-gimnasio__cuenta {
    width: 100%;
    border: .5px solid var(--color-gris-borde-oscuro);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180px;
}


.gimnasio-contenedor__cuenta {
    height: 80%;
    width: 95%;
    display: grid;
    grid-template-columns: 200px auto;
    align-items: center;
    gap: 10px;
}


.gimnasio-imagen__cuenta {
    max-width: 100%;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
}

.gimnasio-imagen__cuenta img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.gimnasio-info__cuenta {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.gimnasio-info-contenido__cuenta {
    display: flex;
    width: 100%;
    justify-content: space-between;
}


.gimnasio-info-nombre__cuenta {
    width: 100%;
    align-self: flex-start;
}

.gimnasio-info-detalles__cuenta h4 {
    text-align: start;
    font-size: 1.5em;
    font-weight: 600;
    font-family: var(--fuente-contenidos);
}


.gimnasio-info-detalles__cuenta p {
    text-align: start;
    font-size: .9em;
    font-weight: 400;
}



.gimnasio-precio__cuenta {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.gimnasio-precio-titulo__cuenta {
    font-size: .9em;
    font-weight: 400;
}

.gimnasio-precio-valor__cuenta {
    font-size: clamp(14px, 2dvw, 20px);
    font-weight: 800;
    color: var(--color-verde);
}




.gimnasio-info-opciones__cuenta {
    display: flex;
    width: 100%;
    gap: 5px;
}


.gimnasio-boton-principal__cuenta {
    padding: 5px 1px;
    width: 50%;
    font-size: clamp(14px, 1.3dvw, 16px);
}

.gimnasio-boton-mas__cuenta {
    width: 15%;
    padding: 15px 1px;
    font-size: 12px;
}






@media screen and (max-width: 760px) {
    .gimnasio-contenedor__cuenta {
        grid-template-columns: none;
        grid-template-rows: 140px auto;
        gap: 10px;
        height: 90%;
        width: 90%;
    }

    .item-gimnasio__cuenta {
        height: 300px;
    }
}